*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    overflow-x: hidden;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 2rem;
}


img{
    display: none;
}