*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



.container{
    border: 1px solid black;
    
}

.container2{
    border: 1px solid red;
}

img{
    display: none;
}

.images{
    display: flex;
}